<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="0.8.0"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="末日迷途"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:extractNativeLibs="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:label="末日迷途"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="DoomsdayPath" />
            <meta-data android:name="android.app.arguments" android:value="" />
            <meta-data android:name="android.app.extract_android_style" android:value="minimal" />
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />
</manifest>